@import url(../../base.css);

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;

   padding: 1rem;

   background-color: var(--black-primary);

   height: 10vh;
   width: 100%;

   position: fixed;
   top: 0;

   z-index: 999;
   
   


     
         
      }

      .search-bar{
         display: flex;
      }

    .header  .menu {
        display: block;
        color: white;
     }   
    .header .logo {
        width: 40px;
        height: 40px;
        object-fit: contain;
        display: block;
     }
@media screen and (max-width:550px) {
   .header {
      padding: 1rem;
   }
      form {
         flex: 1;
      }

      .menu {
         display: block;
      }
     
      .header .brand-icon span{
        display: none;
      }

      .icons > *:not(img) {
         display: none;
      }
   }



.header form {
    flex: 0.6;
    display: flex;
    padding: 0.1rem;
    margin: 0 1rem;
    text-align: center;
    border-radius: 23px;
    border: 0.5px solid;
    background-color: var(--black-secondary);
}

.header form  input {
   width: 40vw;

    border: none;
    font-weight: 500;
    
    background:transparent;
    padding: 0.3rem;
    color: var(--text-color);
}
.header input:focus {
    outline: none;
 }
 


.header button {
    padding: 0.4rem 1rem;
    height: 100%;
    margin:auto;
   background-color: transparent;
    color:white;
    /* border: none; */
}
   .header button:focus {
       border: none;
    }
    .header .Mic{
      cursor: pointer;
      color: #fff;
      padding: 7px;
      border-radius: 50%;
      background-color: rgb(50, 49, 49);
    }
   .header .icons {
        flex: 0.15;
        display: flex;
        gap: 10px;
        color: white;
        justify-content: space-around;
        align-items: center;
    }
    .header  .icons  img {
           border-radius: 50%;
           width: 35px;
           height: 35px;

           object-fit: contain;
           margin-left: 5px;
        }