@import url('../../base.css');

.watchScreen {
   position: relative;
   height: 70vh;
   background-color: #353946;
   width: 100%;
   margin-bottom: 2rem;
}


@media screen and  (max-width:400px) {
   .watchScreen {
      height: 35vh;
   }
}